html {
  font-size: 10px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  padding: $basePadding;
}

.content-wrapper {
  width: 860px;
  margin: 0 auto;

  &.loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.error-active {
  color: red;
  text-align: center;
  padding: $basePadding;
  background-color: lighten(red, 45%);
}

.error-hide {
  padding: 0;
}

.link {
  text-decoration: none;
  color: #fff;

  &:hover {
    color: darken(#fff, 10%);
  }
}

.active-link {
  color: #ddd;

  &:hover {
    color: darken(#ddd, 10%);
  }
}

.cancel-icon {
    margin-left: $baseMargin;
    color: $grey; 

    &:hover {
      cursor: pointer;
      color: darken($grey, 10%);
    }
  }