.datepicker {
  margin-top: $bigMargin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rdt {
  display: flex;
  justify-content: center;

  & > input.form-control {
    width: 260px;
    padding: $basePadding;
    text-align: center;
  }

  .rdtTimeToggle, .rdtSwitch {
    background-color: $lightGrey;

    &:hover {
      background-color: darken($lightGrey, 5%);
    }
  }
}