.navbar {
  background-color: lighten($navbarBlue, 0%);

  .navbar-content {
    display: flex;
    align-items: center;    
    color: #fff;
    padding: $mediumPadding;

    .logo {
      font-size: $biggerFont;
      margin: 0;
    }

    .navbar-item {
      &:first-child {
        margin-right: $mediumMargin;
      }

      .collection {
        margin-left: $mediumMargin;
        font-size: $mediumFont;
      }
    }
  }
}