.list-head {
  border: 1px solid $tableBorder;
  padding: $mediumPadding;
  display: flex;
  justify-content: space-between;
  color: $darkGrey;
  font-style: italic;
}

.list-body {
  border: 1px solid lighten($tableBorder, 10%);
  border-top: none;

  & > a {
    text-decoration: none;
    color: $darkGrey;
  }
}

.store-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: $mediumPadding;
  border-bottom: 1px solid lighten($tableBorder, 20%);
  align-items: center;
  background-color: $tableBGColor;

  &:hover {
    background-color: darken($tableBGColor, 3%);
  }

  &:hover .add-to-collection {
    display: block;
  }

  .store-timings {
    display: flex;
    flex-direction: column;

    .store-timing:first-child {
      margin-bottom: $baseMargin;
    }
  }

  .add-to-collection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}
