// margin padding
$basePadding: 10px;
$mediumPadding: 15px;

$baseMargin: 10px;
$mediumMargin: 15px;

// font size
$smallFont: 1.4rem;
$mediumFont: 2rem;
$bigFont: 2.5rem;
$biggerFont: 3rem;

// colors
$navbarBlue: #374352;
$darkGrey: #333;
$grey: #555;